<a href="https://colab.research.google.com/github/wahyuanwarridho/wahyuanwarridho/blob/main/k_modes_bike_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install KModes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting KModes
  Downloading kmodes-0.12.2-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.10/dist-packages (from KModes) (1.22.4)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.10/dist-packages (from KModes) (1.2.2)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.10/dist-packages (from KModes) (1.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.10/dist-packages (from KModes) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22.0->KModes) (3.1.0)
Installing collected packages: KModes
Successfully installed KModes-0.12.2

In [11]:
import pandas as pd
from kmodes.kmodes import KModes

In [27]:
df=pd.read_csv('/content/data.csv')
df

          Make  Color       Payment           City
0      Triumph  Orange         Cash      San Diego
1       Yamaha    Blue        Check        Chicago
2     Kawasaki  Orange    Financing        Chicago
3      Triumph   Black       PayPal       New York
4        Honda   Green       PayPal    Los Angeles
...        ...     ...          ...            ...
1836    Suzuki   Green  Credit Card      San Diego
1837     Honda    Blue  Credit Card       Portland
1838  Kawasaki   Black         Cash       Portland
1839  Kawasaki     Red         Cash  San Francisco
1840   Triumph  Silver        Check    Los Angeles

[1841 rows x 4 columns]

In [28]:
df.isnull().sum()

Make       0
Color      0
Payment    0
City       0
dtype: int64

In [29]:
km=KModes(n_clusters=3,max_iter=5)
clusters=km.fit_predict(df)
clusters

array([2, 1, 2, ..., 2, 1, 0], dtype=uint16)

In [30]:
print(km.cluster_centroids_)

[['Suzuki' 'Green' 'PayPal' 'Los Angeles']
 ['KTM' 'Red' 'Check' 'San Francisco']
 ['Kawasaki' 'Black' 'Cash' 'Chicago']]

In [31]:
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

In [32]:
df['cluster']=cluster_dict
df

          Make  Color       Payment           City  cluster
0      Triumph  Orange         Cash      San Diego        2
1       Yamaha    Blue        Check        Chicago        1
2     Kawasaki  Orange    Financing        Chicago        2
3      Triumph   Black       PayPal       New York        0
4        Honda   Green       PayPal    Los Angeles        0
...        ...     ...          ...            ...      ...
1836    Suzuki   Green  Credit Card      San Diego        0
1837     Honda    Blue  Credit Card       Portland        0
1838  Kawasaki   Black         Cash       Portland        2
1839  Kawasaki     Red         Cash  San Francisco        1
1840   Triumph  Silver        Check    Los Angeles        0

[1841 rows x 5 columns]